* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(71, 112, 173);
  font-family: "Press Start 2P", cursive;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#score {
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

#div-players {
  width: 27vw;
  display: flex;
  background: black;

  padding: 14px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  justify-content: space-between;
}
#div-score {
  background: rgb(0, 0, 0);
  padding-bottom: 11px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 27vw;
  display: flex;
  justify-content: space-around;
}
#player,
#computer {
  margin-bottom: 1rem;
}

#player-score,
#computer-score {
  border: 2px solid rgb(255, 255, 255);
  padding: 14px 31px;
  color: rgb(255, 0, 0);
  font-size: 30px;
}

main {
  display: flex;
  width: 100vw;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
#sction-one {
  display: flex;
  width: 100vw;
  /* transform: translate(0%, 0%); */
  justify-content: space-evenly;
}
#left,
#right {
  display: flex;
  /* width: 80vw; */
  border: 2px solid black;
  width: 18.49vw;
  height: 253px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#middle {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  /* border: 3px solid wheat; */
  border-radius: 123px;
  background: #d6d4d4;
}

#section-two {
  display: flex;
}
#bottom {
  width: 100vw;
  /* text-align: center; */
  border: 2px solid black;
  /* height: 298px; */
  /* display: flex;*/
  background: #418db1;
}

#bottom h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
button {
  background: none;
  border: none;
  outline: none;
}

.btn {
  width: 110px;
  cursor: pointer;
}

.paper,
.rock {
  transform: rotateY(180deg);
}
